body {
    margin: 0;
    background:  #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100dvh
}

/* Hacemos la separación en el contenedor */
.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}